@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-nunito: var(--font-nunito);
  --radius: 0.625rem;
  --gray: #e5e7eb ;
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #cecfff;
  --popover-foreground: #0a0a0a;
  --primary: #2e3192;
  --primary-foreground: #ffffff;
  --secondary: #cecfff;
  --secondary-foreground: #cecfff;
  --muted: #f5f5f5;
  --muted-foreground: #a1a1a1;
  --accent: #a1a1a1;
  --accent-foreground: #171717; 
  --error: #ff0000;
  --error-foreground: #ffd1d1;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #a1a1a1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-Instrument-sans);
  --font-nunito: var(--font-nunito);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-gray: var(--gray);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
} 

html{
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
